exportPattern("^[[:alpha:]]+")

import(sna)
import(magrittr)
import(ggplot2)
import(igraph)
import(Matrix)
importFrom(tidyr, separate)
importFrom(dplyr, mutate)
importFrom(stringr, str_extract)
importFrom(stringr, str_detect)
importFrom(ggmap, geocode)
importFrom(RecordLinkage, jarowinkler)
importFrom(sp, SpatialPoints)
importFrom(sp, SpatialPointsDataFrame)
importFrom(rworldmap, getMap)
importFrom(rworldmap, joinCountryData2Map)
importFrom(rworldmap, mapCountryData)
importFrom(rworldmap, addMapLegend)
importFrom(Matrix, spMatrix)
importFrom(network, network)
importFrom(Hmisc, bezier)
importFrom(tibble, rownames_to_column)
importFrom(tidyr, gather)
importFrom(dplyr, full_join)
