exportPattern("^[[:alpha:]]+")

import(rworldmap)
import(maptools)
import(maps)
import(rworldmap)
import(RecordLinkage)
import(Matrix)
import(igraph)
import(network)
import(sna)
import(Hmisc)
import(tidyverse)
import(ggplot2)