exportPattern("^[[:alpha:]]+")

import(sna)
import(ggplot2)
import(Matrix)
importFrom(igraph, simplify)
importFrom(igraph, V)
importFrom(igraph, graph.adjacency)
importFrom(network,`%v%`)
importFrom(igraph, graph.adjacency)
importFrom(stringr, str_extract)
importFrom(stringr, str_detect)
importFrom(tibble, rownames_to_column)
importFrom(ggmap, geocode)
importFrom(RecordLinkage, jarowinkler)
importFrom(rworldmap, getMap)
importFrom(rworldmap, joinCountryData2Map)
importFrom(rworldmap, mapCountryData)
importFrom(rworldmap, addMapLegend)
importFrom(Matrix, spMatrix)
importFrom(network, network)
importFrom(maptools, gpclibPermit)
importFrom(Hmisc, bezier)
importFrom(tidyr, gather)
importFrom(tidyr, '%>%')
importFrom(dplyr, full_join)
importFrom("grDevices", "gray", "rgb")
importFrom("graphics", "par", "plot")
importFrom("stats", "aggregate", "filter", "na.omit")
importFrom("utils", "flush.console", "setTxtProgressBar",
             "txtProgressBar", "write.csv")

