exportPattern("^[[:alpha:]]+")

import(rworldmap)
import(maptools)
import(maps)
import(rworldmap)
import(RecordLinkage)
import(Matrix)
import(plyr)
import(igraph)
import(network)
import(sna)
import(Hmisc)
import(reshape2)
import(ggplot2)